--complex-attributes prev-line
--computed-var-attributes prev-line
--enable blankLinesBetweenScopes
--enable blockComments
--enable wrapConditionalBodies
--enable wrapEnumCases
--enable wrapFunctionBodies
--enable wrapLoopBodies
--enable wrapMultilineFunctionChains
--enable wrapPropertyBodies
--func-attributes prev-line
--indent-case true
--line-after-marks true
--line-between-guards true
--non-complex-attributes prev-line
--stored-var-attributes prev-line
--trailing-commas collections-only
--type-attributes prev-line
--wrap-arguments disabled
--wrap-parameters disabled
--wrap-collections before-first
--wrap-return-type never
--wrap-conditions disabled
--wrap-type-aliases disabled
--yoda-swap always
